body, html {
  background-color: #24272C;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

@font-face {
  font-family: "Yaldevi Colombo SemiBold";
  src: local("Yaldevi Colombo SemiBold"), url('./fonts/yaldevi-colombo-semi-bold.ttf');
}

@font-face {
  font-family: "Yaldevi Colombo ExtraLight";
  src: local("Yaldevi Colombo ExtraLight"), url('./fonts/yaldevi.colombo-extralight.ttf');
}