.breadcrumb-link{
    text-decoration: none;
    color:white;
    font-family: "Yaldevi Colombo SemiBold";
    font-size:20px;
    text-transform: capitalize;
}
.breadcrumb {
    margin:10px;
    position: fixed;
    background-color: #24272C;
    width:100vw;
    overflow: hidden;
}

.breadcrumb-clear {
    position: relative;
    height:30px;
}
.dead {
    color:lightgray;
}